# =========================
# ENV
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENV
# =========================
venv/
env/

# =========================
# LOGS
# =========================
*.log

# =========================
# SYSTEM
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# DATA / OUTPUT
# =========================
*.sqlite3
reports/
output/
data/output/

# =========================
# ML MODELS
# =========================
models/
checkpoints/
*.pkl
*.h5
*.pt






connection.txt
