# Core dependencies (order matters)
numpy==1.26.4
pyarrow==15.0.2
pandas==2.3.0
tensorflow==2.15.0
grpcio==1.57.0
scikit-learn==1.7.0
streamlit==1.49.1
protobuf==4.25.3

# Other libs (order free)
watchdog
yfinance
plotly
matplotlib
openpyxl
reportlab
schedule
bcrypt
setuptools
wheel
python-dotenv
keras-tcn
psycopg[binary]
sqlalchemy
vnstock






